// dashboard page
section.biscuit-dashboard
  .logo
    h1

  span.icon.push
  span.icon.editor.out

!=partial('partials/dashboard/overlay')

script(src='http://cdn.socket.io/stable/socket.io.js')
script(src='/js/yui-min.js')
script
  var Biscuit = {};
  Biscuit.Locator = !{locator};
  Biscuit.User = "!{user}";
  Biscuit.UserLevel = "!{userlevel}";
  
script(src='/js/dashboard-concat.js')